In [1]:
import numpy as np
import pandas as pd

data_dir = '../Data/'
f_train = 'filteredCDR_AG_agab_class.tsv'
df_train = pd.read_csv(data_dir + f_train, sep='\t')

df_train = df_train.loc[df_train.total_split=="train"] 
df_train = df_train.rename(columns={"Slide": "AbSeq"})
df_train = df_train.drop(columns = ["inter_comman_3point_len", "total_split", "cluster"])
df_train

              AbSeq  Energy  numMut AgSeq  BindClass
0       CARLLLLYFDY  -99.28       1  ADNY      False
1       CARWLLLFYAM  -97.65       1  ADNY      False
2       CAIWLRRYYFD  -97.21       1  ADNY      False
3       LLLLTGYFDVW  -98.73       1  ADNY      False
8       TPLYYGNFFYA  -93.90       1  ADNY      False
...             ...     ...     ...   ...        ...
115234  YFLFFTVVPYY -103.26       3  IPLY       True
115239  IPRWLLLFAYW -104.05       3  IPLY       True
115241  PHLLLRSLALD -106.55       3  IPLY       True
115243  WGWLLPNWYFD -105.22       3  IPLY       True
115244  IFYLFWYFDVW -104.68       3  IPLY       True

[46248 rows x 5 columns]

In [2]:
df_train.to_csv(data_dir + 'df_train.tsv', sep="\t", index = False)